<body class = "center">
<h1 id = "red">Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Make</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%=link_to model.name, model %></td>
        <td><%=link_to Make.find(model.make_id).name, Make.find(model.make_id)%></td>
        <td><%=link_to Type.find(model.type_id).name,Type.find(model.type_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model', new_model_path %>
</body>